<%= form_with(model: shot, local: true, id: "new-shot") do |form| %>
  <% if shot.errors.any? %>
    <div class="notification is-danger">
      <h2><%= pluralize(shot.errors.count, "error") %> prohibited this shot from being saved:</h2>

      <ul>
        <% shot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# image preview %>
  <% unless shot.user_shot.blank? %>
    <%= image_tag shot.user_shot_url, id: "preview-image" %>
  <% end %>

  <%# drag and drop file uploader %>
  <output id="thumbnail"></output>
  <div id="drop-zone">Drag your shot here</div>
  <br>

  <%# file uploader %>
  <div class="field">
    <div class="control">
      <%= form.file_field :user_shot, class: "input file-input"%>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :title, class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <div class="control">
      <%= form.text_area :description, class: "textarea", rows: "4", cols: "60" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>
