<%= form_with(model: shot, local: true, id: "new-shot") do |form| %>
  <% if shot.errors.any? %>
    <div class="notification is-danger">
      <h2><%= pluralize(shot.errors.count, "error") %> prohibited this shot from being saved:</h2>

      <ul>
        <% shot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-5">
    <!-- drag and drop file uploader -->
    <div class="js-drop-zone">Drag your shot here</div>
    
    <!-- or label -->
    <div class="container has-text-centered mt-3 mb-3">
      <p class="label">or</p>
    </div>
    
    <!-- file uploader -->
    <div class="file has-name is-dark is-fullwidth">
      <%= form.label :user_shot, class: "file-label" do %>
          <%= form.file_field :user_shot, class: "file-input js-file-input" %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name js-file-name">
            No file uploaded
          </span>
      <% end %>
    </div>
  </div>
  
  <!-- image preview -->
  <div class="field has-text-centered">
    <output class="js-thumbnail">
    <% unless shot.user_shot.blank? %>
      <!-- image preview when editing-->
      <span><%= image_tag shot.user_shot_url, class: "js-thumbnail" %></span>
    <% end %>
    </output>
  </div>


  <div class="field">
    <%= form.label :title, class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <div class="control">
      <%= form.text_area :description, class: "textarea", rows: "4", cols: "60" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>
