<div class="columns">
  <div class="column"></div>
  <div class="column">
    <%= image_tag @shot.user_shot.url %>
    <p class="shot__title title is-3">        
      <%= @shot.title %>
    </p>
    <p class="shot__description subtitle">
      <%= @shot.description %>
    </p>

    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_shot_path(@shot) %> |
      <%= link_to 'Delete', shot_path(@shot), method: :delete, data: {confirm: "Are you sure?"} %> |
    <% end %>
    <%= link_to 'Back', shots_path %>

  </div>
  <div class="column"></div>
</div>